@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .intro {
    background-image: url("../public/images/imagemPrincipal.png");
  }
  .feature-description {
    background-image: url("../public/images/fundo1Roberto.png");
  }
  .healthierhorses {
    background-image: url("../public/images/healthierHorses.png");
  }
  .ridenow {
    background-image: url("../public/images/ridenow.png");
  }
}
